mysqldump : mysqldump: [Warning] Using a password on the command line interface can be insecure.
At line:1 char:1
+ mysqldump -u root --password="" kas_keluar > "kas_keluar_backup_befor ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: kas_keluar
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bukti_kas_keluar`
--

DROP TABLE IF EXISTS `bukti_kas_keluar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bukti_kas_keluar` (
  `id_bkk` int NOT NULL AUTO_INCREMENT,
  `nomor_bkk` varchar(30) NOT NULL,
  `tanggal` date NOT NULL,
  `nomor_check` varchar(30) DEFAULT NULL,
  `id_supplier` int NOT NULL,
  `id_coa_kas` int NOT NULL,
  `id_karyawan_penyetuju` int DEFAULT NULL,
  `id_karyawan_pembayar` int DEFAULT NULL,
  `id_karyawan_pembuku` int DEFAULT NULL,
  `total_bkk` decimal(15,2) NOT NULL,
  `keterangan` text,
  PRIMARY KEY (`id_bkk`),
  UNIQUE KEY `nomor_bkk` (`nomor_bkk`),
  KEY `id_supplier` (`id_supplier`),
  KEY `id_coa_kas` (`id_coa_kas`),
  KEY `id_karyawan_penyetuju` (`id_karyawan_penyetuju`),
  KEY `id_karyawan_pembayar` (`id_karyawan_pembayar`),
  KEY `id_karyawan_pembuku` (`id_karyawan_pembuku`),
  CONSTRAINT `bukti_kas_keluar_ibfk_1` FOREIGN KEY (`id_supplier`) REFERENCES `supplier` (`id_supplier`),
  CONSTRAINT `bukti_kas_keluar_ibfk_2` FOREIGN KEY (`id_coa_kas`) REFERENCES `coa` (`id_coa`),
  CONSTRAINT `bukti_kas_keluar_ibfk_3` FOREIGN KEY (`id_karyawan_penyetuju`) REFERENCES `karyawan` (`id_karyawan`),
  CONSTRAINT `bukti_kas_keluar_ibfk_4` FOREIGN KEY (`id_karyawan_pembayar`) REFERENCES `karyawan` (`id_karyawan`),
  CONSTRAINT `bukti_kas_keluar_ibfk_5` FOREIGN KEY (`id_karyawan_pembuku`) REFERENCES `karyawan` (`id_karyawan`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bukti_kas_keluar`
--

LOCK TABLES `bukti_kas_keluar` WRITE;
/*!40000 ALTER TABLE `bukti_kas_keluar` DISABLE KEYS */;
/*!40000 ALTER TABLE `bukti_kas_keluar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coa`
--

DROP TABLE IF EXISTS `coa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coa` (
  `id_coa` int NOT NULL AUTO_INCREMENT,
  `kode_coa` varchar(20) NOT NULL,
  `nama_coa` varchar(100) NOT NULL,
  `tipe_akun` enum('Aset','Liabilitas','Ekuitas','Pendapatan','Beban') NOT NULL,
  `saldo_normal` enum('Debit','Kredit') NOT NULL,
  `status` enum('Aktif','Tidak Aktif') NOT NULL DEFAULT 'Aktif',
  PRIMARY KEY (`id_coa`),
  UNIQUE KEY `kode_coa` (`kode_coa`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coa`
--

LOCK TABLES `coa` WRITE;
/*!40000 ALTER TABLE `coa` DISABLE KEYS */;
/*!40000 ALTER TABLE `coa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_bkk`
--

DROP TABLE IF EXISTS `detail_bkk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_bkk` (
  `id_detail` int NOT NULL AUTO_INCREMENT,
  `id_bkk` int NOT NULL,
  `nama_item` varchar(100) NOT NULL,
  `jumlah` decimal(15,2) NOT NULL,
  `satuan` varchar(20) NOT NULL,
  `harga_satuan` decimal(15,2) NOT NULL,
  `subtotal` decimal(15,2) NOT NULL,
  PRIMARY KEY (`id_detail`),
  KEY `id_bkk` (`id_bkk`),
  CONSTRAINT `detail_bkk_ibfk_1` FOREIGN KEY (`id_bkk`) REFERENCES `bukti_kas_keluar` (`id_bkk`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_bkk`
--

LOCK TABLES `detail_bkk` WRITE;
/*!40000 ALTER TABLE `detail_bkk` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_bkk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_jurnal`
--

DROP TABLE IF EXISTS `detail_jurnal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detail_jurnal` (
  `id_detail_jurnal` int NOT NULL AUTO_INCREMENT,
  `id_jurnal` int NOT NULL,
  `id_coa` int NOT NULL,
  `debit` int NOT NULL,
  `kredit` int NOT NULL,
  PRIMARY KEY (`id_detail_jurnal`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_jurnal`
--

LOCK TABLES `detail_jurnal` WRITE;
/*!40000 ALTER TABLE `detail_jurnal` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_jurnal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dibukukan`
--

DROP TABLE IF EXISTS `dibukukan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dibukukan` (
  `id` int NOT NULL AUTO_INCREMENT,
  `id_akt2` int NOT NULL,
  `id_kary` int NOT NULL,
  `tanggal` date NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dibukukan`
--

LOCK TABLES `dibukukan` WRITE;
/*!40000 ALTER TABLE `dibukukan` DISABLE KEYS */;
/*!40000 ALTER TABLE `dibukukan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jurnal`
--

DROP TABLE IF EXISTS `jurnal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jurnal` (
  `id_jurnal` int NOT NULL AUTO_INCREMENT,
  `nomor_jurnal` text NOT NULL,
  `tanggal` date NOT NULL,
  `id_bkk` int NOT NULL,
  `keterangan` text NOT NULL,
  PRIMARY KEY (`id_jurnal`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jurnal`
--

LOCK TABLES `jurnal` WRITE;
/*!40000 ALTER TABLE `jurnal` DISABLE KEYS */;
/*!40000 ALTER TABLE `jurnal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `karyawan`
--

DROP TABLE IF EXISTS `karyawan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `karyawan` (
  `id_karyawan` int NOT NULL AUTO_INCREMENT,
  `nip` varchar(20) NOT NULL,
  `nama_karyawan` varchar(100) NOT NULL,
  `jabatan` varchar(100) DEFAULT NULL,
  `status` enum('Aktif','Nonaktif') NOT NULL DEFAULT 'Aktif',
  PRIMARY KEY (`id_karyawan`),
  UNIQUE KEY `nip` (`nip`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `karyawan`
--

LOCK TABLES `karyawan` WRITE;
/*!40000 ALTER TABLE `karyawan` DISABLE KEYS */;
/*!40000 ALTER TABLE `karyawan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supplier`
--

DROP TABLE IF EXISTS `supplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supplier` (
  `id_supplier` int NOT NULL AUTO_INCREMENT,
  `kode_supplier` varchar(20) NOT NULL,
  `nama_supplier` varchar(100) NOT NULL,
  `alamat` varchar(255) DEFAULT NULL,
  `status` enum('Aktif','Nonaktif') NOT NULL DEFAULT 'Aktif',
  PRIMARY KEY (`id_supplier`),
  UNIQUE KEY `kode_supplier` (`kode_supplier`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supplier`
--

LOCK TABLES `supplier` WRITE;
/*!40000 ALTER TABLE `supplier` DISABLE KEYS */;
INSERT INTO `supplier` VALUES (1,'SUP001','CV Aci Oil','Yogyakarta','Aktif'),(2,'SUP002','PT Ansyar','Bandung','Aktif'),(3,'SUP003','PT Cahaya','Surabaya','Aktif'),(4,'SUP004','CV Makmur','Soppeng','Aktif'),(5,'SUP005','PT Indofood','Jakarta','Aktif'),(6,'SUP006','CV Sumber Makmur','Semarang','Aktif'),(7,'SUP007','PT Tunas Jaya','Medan','Aktif'),(8,'SUP008','CV Berkat Abadi','Makassar','Aktif'),(9,'SUP009','PT Sinar Terang','Bali','Aktif'),(10,'SUP010','UD Mulya Jaya','Malang','Aktif');
/*!40000 ALTER TABLE `supplier` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-09 15:13:45
